apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: everundang
spec:
  replicas: 3
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: everundang
spec:
  replicas: 3
