apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: everundang
  labels:
    app.kubernetes.io/name: everundang
    app.kubernetes.io/component: backend
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: everundang
    app.kubernetes.io/component: backend
  ports:
  - name: http
    port: 4000
    targetPort: 4000
    protocol: TCP
